# COURSE: Master math by coding in Python
# SECTION: Data types
# VIDEO: Numbers and strings


### https://www.udemy.com/course/math-with-python/?couponCode=202312
#### INSTRUCTOR: Mike X Cohen (http://sincxpress.com)

This code roughly matches the code shown in the live recording: variable names, order of lines, and parameter settings may be slightly different.

<a target="_blank" href="https://colab.research.google.com/github/mikexcohen/MathWithPython/blob/main/dataTypes/mathWithPython_datatypes_numbersStrings.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
# libraries
import numpy as np

In [2]:
# ints vs. floats

c = 7
d = 7.0

print(c,d)

7 7.0

In [3]:
print( type(c) )
print( type(d) )

<class 'int'>
<class 'float'>

In [4]:
# implication of datatype for functions loops

for i in range(c): # vs d
    print(i)

0
1
2
3
4
5
6

In [5]:
# we can add numbers; can we "add" strings??
firstName = 'Mike'
lastName  = 'Cohen'

print( firstName + lastName )
print( firstName + ' ' + lastName )

MikeCohen
Mike Cohen

In [6]:
firstName * 3

'MikeMikeMike'

In [7]:
%whos

Variable    Type      Data/Info
-------------------------------
c           int       7
d           float     7.0
firstName   str       Mike
i           int       6
lastName    str       Cohen
np          module    <module 'numpy' from 'c:\<...>ges\\numpy\\__init__.py'>

# Exercise

In [8]:
### converting across datatypes

s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8

## convert strings to integers
print( int(s1) )
# print( int(s2) )


## string to floating-point
print( float(s1) )
print( float(s2) )


## number to string
print( str(n1) )
print( str(n2) )

4
4.0
4.7
5
5.8